@use 'login';
@use 'dashboard';
@use 'layout';
@use 'transactions';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Light",sans-serif;
  background-color: #f5f5f5;
}
h2 {
  margin-bottom: 40px;
  color: #052C65;
  font-size: 40px;
  font-weight: 600;
}
.plus{
  color: #CED4DA;
}
.content-wrapper {
  padding-left: 60px;
  padding-top: 100px;
  width: 100%;
}
.card{
  cursor:pointer;
  border-radius: 12px;
  width: 382px; height: 121px;
}
.card-title{
  color: #290661;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.form-select{
  width: 400px
}


