<div class="content-wrapper">
  <div class="p-4">
    <h2 id="page-title">Загрузка...</h2>
    <div class="sign-up-body pt-3 d-flex justify-content-center align-items-center">
      <form class="w-100">
        <div class="form-floating mb-2">
          <div class="input mb-2">
            <input type="text" class="form-control" placeholder="Название категории"
                   aria-label="name" id="input-name-category">
            <div id="input-name-category-error" class="text-center error invalid-feedback mb-3" style="display: none;">
              Введите название категории
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="d-flex pt-4 pb-3">
      <button type="button" class="btn btn-success me-2" id="send-button">Сохранить</button>
      <button type="button" class="btn btn-danger" id="cansel-button">Отмена</button>
    </div>
  </div>
</div>