<div class="content-wrapper">

        <h2 class="page-title">Доходы и расходы</h2>
        <div class="d-flex pt-4 pb-4">
            <a href="/create-transaction" type="button" class="btn btn-success me-2" id="create-income">Создать доход</a>
            <a href="/create-transaction" type="button" class="btn btn-danger" id="create-expense">Создать расход</a>
        </div>
        <div class="pt-3 d-flex flex-row justify-content-lg-start pb-3">
            <div class="home-button">
                <button id="button-today" type="button" class="btn btn-outline-secondary active">Сегодня</button>
                <button id="button-week" type="button" class="btn btn-outline-secondary">Неделя</button>
                <button id="button-month" type="button" class="btn btn-outline-secondary">Месяц</button>
                <button id="button-year" type="button" class="btn btn-outline-secondary">Год</button>
                <button id="button-all" type="button" class="btn btn-outline-secondary">Все</button>
            </div>
            <div id="calendar-block">
                <div id="calendar1">
                    <button class="btn btn-outline-secondary me-3" id="button-interval">Интервал</button>
                </div>
            </div>
            <div class="interval-links align-content-center">
                <span class="pe-2">c</span>
                <a href="javascript:void(0)" class="link-interval-start link-body-emphasis pe-2 me-2" id="link-interval-start">Дата</a>
                <span class="pe-2">по</span>
                <a href="javascript:void(0)" class="link-interval-end link-body-emphasis" id="link-interval-end">Дата</a>
            </div>
        </div>
        <div class="table-responsive small pt-3 mt-3" id="table">
            <table class="table table-default table-sm border-top">
                <thead class="text-center">
                <tr>
                    <th scope="col">№ операции</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="tables-info text-center" id="table-tbody">

                </tbody>
            </table>
        </div>
    </div>
    <div class="alert-popup-block" id="alert-popup-block" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 9999; justify-content: center; align-items: center;">
        <div class="card alert-popup mx-auto my-auto" style="background: white; padding: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); width: 530px;">
            <div class="">
                <span class="" style="font-size: 20px; font-weight: 500; color: #290661; white-space: nowrap; display: block; text-align: center;">Вы действительно хотите удалить операцию?</span>
                <div class="popup-button-block mt-3" style="display: flex; gap: 10px; justify-content: center;">
                    <a href="javascript:void(0)" class="btn btn-success" id="button-yes">Да, удалить</a>
                    <a href="/transactions" class="btn btn-danger" id="button-no">Не удалять</a>
                </div>
            </div>
        </div>

</div>